[submodule "cgl-op-messaging"]
	path = cgl-op-messaging
	url = https://git-codecommit.ap-southeast-1.amazonaws.com/v1/repos/cgl-op-messaging
	branch = master
[submodule "cgl-op-file-management"]
	path = cgl-op-file-management
	url = https://git-codecommit.ap-southeast-1.amazonaws.com/v1/repos/cgl-op-file-management
	branch = master
[submodule "cgl-op-truck-service"]
	path = cgl-op-truck-service
	url = https://git-codecommit.ap-southeast-1.amazonaws.com/v1/repos/cgl-op-truck-service
	branch = master
[submodule "cgl-op-user-service"]
	path = cgl-op-user-service
	url = https://git-codecommit.ap-southeast-1.amazonaws.com/v1/repos/cgl-op-user-service
	branch = master
[submodule "cgl-op-lambda-authorizer-service"]
	path = cgl-op-lambda-authorizer-service
	url = https://git-codecommit.ap-southeast-1.amazonaws.com/v1/repos/cgl-op-lambda-authorizer-service
	branch = master

[submodule "cgl-op-job-service"]
	path = cgl-op-job-service
	url = https://git-codecommit.ap-southeast-1.amazonaws.com/v1/repos/cgl-op-job-service
  branch = master
[submodule "utility-layer"]
	path = utility-layer
	url = https://git-codecommit.ap-southeast-1.amazonaws.com/v1/repos/utility-layer
	branch = master
[submodule "cgl-op-master-data-service"]
	path = cgl-op-master-data-service
	url = https://git-codecommit.ap-southeast-1.amazonaws.com/v1/repos/cgl-op-master-data-service
  branch = master
[submodule "cgl-op-history-service"]
	path = cgl-op-history-service
	url = https://git-codecommit.ap-southeast-1.amazonaws.com/v1/repos/cgl-op-history-service
	branch = master
[submodule "cgl-op-booking"]
	path = cgl-op-booking
	url = https://git-codecommit.ap-southeast-1.amazonaws.com/v1/repos/cgl-op-booking
  branch = master
[submodule "cgl-op-pricing-service"]
	path = cgl-op-pricing-service
	url = https://git-codecommit.ap-southeast-1.amazonaws.com/v1/repos/cgl-op-pricing-service
  branch = master
[submodule "cgl-op-service-service"]
	path = cgl-op-service-service
	url = https://git-codecommit.ap-southeast-1.amazonaws.com/v1/repos/cgl-op-service-service
  branch = master
